/* Definisci i font */
@font-face {
    font-family: 'TV';
    src: url('fonts/tv.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GH';
    src: url('fonts/gh.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Quicksand&display=swap');


body {
background-color: black;
    background-size: 300%;
    font-family: 'GH', monospace;
    color: white;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
    font-size: 1.2rem;
  }


p {
    font-family: 'GH', monospace;
}

a {
  color: greenyellow;
  text-decoration: none;
}

h1, h2 {

  color:yellow; }

h3, h4, h5, h6 {
      font-family: 'GH', monospace;
      margin-top: 0;
      margin-bottom: 2rem;
      font-weight: 500;
      color:yellow; }
  .title {
    font-size: 13.0rem;
    font-family: 'TV', monospace;
    font-weight: 500; 
    line-height: 0;
    letter-spacing: -0.2rem;
    margin: 80px;
  }
  .won {
    font-family: 'TV', monospace;
  }


  h1 { font-size: 3rem; line-height: 1;  letter-spacing: -.1rem;}
  h2 { font-size: 2.5rem; line-height: 1; letter-spacing: -.1rem; }
  h3 { font-size: 2rem; line-height: 1.3;  letter-spacing: -.1rem; }
  h4 { font-size: 1.5rem; line-height: 1.35; letter-spacing: -.08rem; }
  h5 { font-size: 1rem; line-height: 1.5;  letter-spacing: -.05rem; }
  h6 { font-size: 0.5rem; line-height: 1.6;  letter-spacing: 0; }


@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Quicksand&display=swap');

